# ignore r markdown files
*.Rmd
# ignore r markdown htmls
r_scripts/*.html

# ignore pynotebook checks
.ipynb_checkpoints

# ignore R notebook files
*.nb.html

# ignore data folder
data/

# ignore Rproj
*.Rproj


.Rproj.user
